.cabeçalho{
    background-color: black;
    border: 10px;
    border-color: red;
    border-style:groove;
    color: white
    text-decoration: underline;
    text-align: center;
}

#imagem-icone{
    width: 50px;
}