cabeçalho{
   background-color: blue;
    color:  white
}
.principal{
background-color: yellow;
    color: black
}
.rodape{
    background-color: black;
    color: yellow;
lândtext-align: center;

#Finlândia{
    windth:  600px;
}